<p>user-list works!</p>
<!-- <div class="text-center bg-warning p-2 text-dark bg-opacity-75 mb-3"><app-user-single></app-user-single></div>
<div class="text-center bg-warning p-2 text-dark bg-opacity-75 mb-3"><app-user-single></app-user-single></div>
<div class="text-center bg-warning p-2 text-dark bg-opacity-75 mb-3"><app-user-single></app-user-single></div> -->

<ol>
 <li *ngFor="let person of persons">
    <div>
      <img src="{{person.profilePhotoUrl}}" style="height: 80px;" alt="">
      <span><b>{{person.name}}</b>
      <b>{{person.surname}}</b>
      {{person.age}}
      {{person.address.city}}</span>
    </div>
  </li>
</ol>



